{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load allauth %}
{% load account %}
{% load static %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class = "done">
        {% element h1 %}
            {% trans "Password Reset" %}
        {% endelement %}
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
        </p>
    </div>
{% endblock content %}
